* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: hsl(240, 10%, 3.9%);
}

p {
    font-size: small;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: hsl(0, 0%, 98%);
    border-bottom: 1px solid hsl(240, 3.7%, 15.9%);
}

.header-logo {
    margin-right: 10px;
    font-size: 1.5rem;
}

.header-left {
    display: flex;
    align-items: center;
}
.header-right {
    display: flex;
    align-items: center;
}

.header-right > button {
    margin-right: 20px;
}

.profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #efefef;
}

.searchbar > input {
    border: none;
    background-color: inherit;
    outline: none;
    font-size: small;
    width: 100%;
    color: hsl(0, 0%, 98%);
    margin-left: 5px;
}

.searchbar > input::placeholder {
    color: hsl(0, 0%, 98%);
}

.search-icon {
    height: 15px;
    width: 15px;
}

.searchbar {
    display: none;
}

.searchbar-btn {
    display: flex;
    padding: 10px;
    height: max-content;
    width: max-content;
    border-radius: 100%;
    border: 1px solid hsl(240, 3.7%, 15.9%);
}

.icon-btn {
    display: flex;
    align-items: center;
}

.icon-btn > img {
    height: 16px;
    width: 16px;
    margin-right: 2px;
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor:pointer;
}

.btn-primary {
    background-color: #efefef;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .searchbar-btn {
        display: none;
    }

    .searchbar {
        display: flex;
        align-items: center;
        width: 300px;
        padding: 10px;
        border-radius: 25px;
        border: 1px solid hsl(240, 3.7%, 15.9%);
    }

    .header-logo {
        margin-right: 20px;
    }
 }

 /* Large devices (desktops, 992px and up) */
 /* @media (min-width: 992px) {


 }  */