* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(30, 30, 30)
}

p {
    font-size: medium;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    box-shadow: 0px 4px 16px -1px rgba(0,0,0,0.15);
}

.header-logo {
    margin-right: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}
.header-right {
    display: flex;
    align-items: center;
}

.header-right > button {
    margin-right: 20px;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
}

.searchbar > input {
    border: none;
    background-color: inherit;
    outline: none;
    font-size: medium;
    width: 100%;
}

.searchbar > input::placeholder {
    color: rgb(148, 148, 148);
}

.searchbar > img {
    height: 25px;
    width: 25px;
    margin-right: 10px;

}

.searchbar {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    width: 300px;
    padding: 15px;
    border-radius: 25px;
}

.icon-btn {
    display: flex;
    align-items: center;
}
.icon-btn > img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary {
    background-color: #a2add8;
}

/* --text: #eef0f6;
--background: #06080e;
--primary: #a2add8;
--secondary: #2b3973;
--accent: #4a65c4; */

/* --text-50: #eef0f6;
--text-100: #dee2ed;
--text-200: #bcc4dc;
--text-300: #9ba7ca;
--text-400: #7989b9;
--text-500: #586ca7;
--text-600: #465686;
--text-700: #354164;
--text-800: #232b43;
--text-900: #121621;
--text-950: #090b11;

--background-50: #edf0f7;
--background-100: #dbe0f0;
--background-200: #b8c2e0;
--background-300: #94a3d1;
--background-400: #7085c2;
--background-500: #4d66b3;
--background-600: #3d528f;
--background-700: #2e3d6b;
--background-800: #1f2947;
--background-900: #0f1424;
--background-950: #080a12;

--primary-50: #edeff7;
--primary-100: #dbdff0;
--primary-200: #b7bfe1;
--primary-300: #93a0d2;
--primary-400: #6f80c3;
--primary-500: #4b60b4;
--primary-600: #3c4d90;
--primary-700: #2d3a6c;
--primary-800: #1e2648;
--primary-900: #0f1324;
--primary-950: #080a12;

--secondary-50: #eceff8;
--secondary-100: #dadef1;
--secondary-200: #b5bee3;
--secondary-300: #8f9dd6;
--secondary-400: #6a7dc8;
--secondary-500: #455cba;
--secondary-600: #374a95;
--secondary-700: #293770;
--secondary-800: #1c254a;
--secondary-900: #0e1225;
--secondary-950: #070913;

--accent-50: #eceff9;
--accent-100: #d8def3;
--accent-200: #b2bde6;
--accent-300: #8b9cda;
--accent-400: #657ccd;
--accent-500: #3e5bc1;
--accent-600: #32499a;
--accent-700: #253674;
--accent-800: #19244d;
--accent-900: #0c1227;
--accent-950: #060913; */

